html {
  background-color: rgb(56, 56, 86);
  color: white;
  font-family: sans-serif;
}

body {
  margin: 0;
}
/* Header */
.header {
  background-color: black;
}

.header h1 {
  margin: 0;
}
/* Main */
main {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  display: grid;
  width: 50%;
}

.converter-section {
  border: 1px solid gray;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.conversion-menu {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
}

.main-form {
  display: grid;
  grid-auto-flow: column;
}

.form-group {
  display: grid;
}

.equals {
  justify-self: center;
  align-self: center;
  font-weight: bold;
}

.submit-test-button {
  color: red;
  margin-top: 2rem;
}

/* Conversion result element */
#conversion-formula {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 0.75rem;
}

#formula-text {
  background-color: rgb(215, 197, 4);
  color: black;
  padding: 0.15rem;
  border-radius: 0.2rem;
}

#conversion-operation {
}

#conversion-result {
  margin: 0;
}

/* Popular unit conversions */
.popular-unit-conversions {
  background-color: rgb(128, 156, 147);
}

li {
  list-style-type: none;
}

/* Complete conversion list */
.complete-conversion-list {
  margin-top: 0.5rem;
  background-color: rgb(93, 116, 104);
}

.link-to-full-anc-chinese-converter {
  display: inline-block;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: blue;
}
.link-to-full-anc-chinese-converter:hover {
  text-decoration: none;
}
