html  {
    background-color: rgb(56, 56, 86);
    color: white;
    font-family: sans-serif;
}

.conversion-menu {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-auto-flow: column;
}

.main-form {
    display: grid;
    grid-auto-flow: column;
}

.form-group {
    display: grid;
}

.equals {
    justify-self: center;
    align-self: center;
    font-weight: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
.submit-test-button {
    color: red;
    margin-top: 2rem;
}