html  {
    background-color: rgb(56, 56, 86);
    color: white;
    font-family: sans-serif;
}

.conversion-menu {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-auto-flow: column;
}

.main-form {
    display: grid;
    grid-auto-flow: column;
}

.form-group {
    display: grid;
}

.equals {
    justify-self: center;
    align-self: center;
    font-weight: bold;
}
  
.submit-test-button {
    color: red;
    margin-top: 2rem;
}

/* Conversion result element */
#conversion-formula {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    font-size: 0.75rem;
}

#formula-text {
    background-color: rgb(215, 197, 4);
    color: black;
    padding: 0.15rem;
    border-radius: 0.2rem;
}

#conversion-operation {

}