html {
  background-color: rgb(56, 56, 86);
  color: white;
  font-family: sans-serif;
}

body {
  margin: 0;
}
/* Header */
.header {
  background-color: black;
}

.header h1 {
  margin: 0;
}

.home {
  text-decoration: none;
  color: white;
}
/* Main */

.breadcrumb .breadcrumb-link {
  color: blue;
}

.breadcrumb .breadcrumb-link:hover {
  text-decoration: none;
}

main {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.reverse-link {
  color: blue;
}
.reverse-link:hover {
  text-decoration: none;
}
.reverse-conversion {
  align-self: center;
  justify-self: center;
}
.reverse-icon {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.conversion-type-h2 {
  margin-bottom: 0rem;
}

.conversion-description-p {
  margin-top: 0rem;
}

.conversion-menu {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
}

.main-form {
  display: grid;
  grid-auto-flow: column;
}

.form-group {
  display: grid;
}

.equals {
  justify-self: center;
  align-self: center;
  font-weight: bold;
}

.submit-test-button {
  color: red;
  margin-top: 2rem;
}

/* Conversion result element */
#conversion-formula {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 0.75rem;
}

#formula-text {
  background-color: rgb(215, 197, 4);
  color: black;
  padding: 0.15rem;
  border-radius: 0.2rem;
}

.label-for-fromUnitInput,
.label-for-toUnitInput {
  background-color: white;
  color: black;
  width: 99.6%;
  margin-left: 0.03rem;
  font-size: 0.9rem;
}

#conversion-operation {
}

#conversion-result {
  margin: 0;
}

/* Popular unit conversions */
.popular-unit-conversions {
  background-color: rgb(128, 156, 147);
}

/* Complete conversion list */
.complete-conversion-list {
  background-color: rgb(93, 116, 104);
}

